*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



body{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    background-color: rgb(240, 234, 234);
}

#main{
    width: 350px;
    height: 140px;
    background-color: white;
    margin-top: 9rem;
    border-radius: 10px;

}

#title{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    font-size: 2rem;
}

.buscador{
    display: flex;
    gap: 8px;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
}

#number{
    padding: 4px;
    border: 0.3px solid gray;
    border-radius: 3px;
}

#button{
    padding: 6px;
    background-color: #2B4CB3;
    border: none;
    color: white;
    border-radius: 4px;
    transition: transform 0.2s ease-in-out;
}

#button:hover{
    cursor: pointer;
    background-color: #122f86;
    transform: scale(1.1)
}

#loader{
    border-radius: 50%;
    width: 40px;
    height: 40px;
}



.load{
    width: 100%;
    height: 100%;
    border: 2px solid orange;
    border-bottom: none;
    border-left: transparent;
    border-radius: 50%;
    animation: load 1s cubic-bezier(0.42, 0.61, 0.58, 0.41) infinite ;
}

@keyframes load{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(-360deg);
    }
}